{
  "exe": "{{ amz_cwagent_procstat_plugin_fragment_match_string }}",
  "measurement": [
    "cpu_time",
    "cpu_time_system",
    "cpu_time_user",
    "cpu_usage",
    "memory_data",
    "memory_rss",
    "memory_swap",
    "read_bytes",
    "write_bytes",
    "read_count",
    "write_count"
  ]
}
